*.pyc
.idea/
.idea/misc.xml
.idea/workspace.xml
Group19_strategy1000e.txt
results.txt
run.sh
strategy4000e.txt
resultsStrategy10000e.txt
resultsStrategy1000e.txt
resultsStrategy2000e.txt
resultsStrategy3000e.txt
resultsStrategy4000e.txt
resultsStrategy5000e.txt
resultsStrategy6000e.txt
resultsStrategy7000e.txt
resultsStrategy8000e.txt
resultsStrategy9000e.txt
strategy10000e.txt
strategy1000e.txt
strategy2000e.txt
strategy3000e.txt
